/*Eliminamos los margenes y paddings que agrega el navegador por defecto*/
*{
  padding: 0;
  margin: 0
}
header {
  background: rgb(251, 251, 251);
  width: 100%;
  position: fixed;
  z-index: 100
}
nav {
  float: left; /* Desplazamos el nav hacia la izquierda */
}

nav ul {
  list-style: none;
  overflow: hidden /* Limpiamos errores de float */
}

nav ul li {
  float: left;
  font-family: Arial, sans-serif;
  font-size: 16px
}

nav ul li a {
  display: block; /* Convertimos los elementos a en elementos bloque para manipular el padding */
  padding: 20px;
  color: black;
  text-decoration: none
}

.cool-btn{
  background-color: transparent;
  color: #fff;
  padding: .5rem 1 rem;
  border: 1 px solid#fff;
  font-size: 1.5rem;
  width: 35%;
  transition: 0.5s;
}
.cool-btn:hover{
  transform: translateY(-10px);
  background-color: #fff;
  color: black;
}